# Pandas: основы работы с табличными данными

<p><img alt="Pandas logo"  width="300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png" hspace="10px" vspace="0px"></p>

*pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python.*

**Useful links:**
- [Pandas overview](https://pandas.pydata.org/docs/getting_started/overview.html)
- [Pandas docs](https://pandas.pydata.org/docs/user_guide/index.html)

- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

- [10 Minutes To Pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)

- [Pandas CookBook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

# Data loading

### Titanic - Machine Learning from Disaster

https://www.kaggle.com/c/titanic/data

Каждая строчка наборов данных содержит следующие поля:

- Pclass — класс пассажира (1 — высший, 2 — средний, 3 — низший);

- Name — имя;

- Sex — пол;

- Age — возраст;

- SibSp — количество братьев, сестер, сводных братьев, сводных сестер, супругов на борту титаника;

- Parch — количество родителей, детей (в том числе приемных) на борту титаника;

- Ticket — номер билета;

- Fare — плата за проезд;

- Cabin — каюта;

- Embarked — порт посадки (C — Шербур; Q — Квинстаун; S — Саутгемптон;

- Survived - пассажир выжил или нет.

В поле Age приводится количество полных лет. Для детей меньше 1 года — дробное. Если возраст не известен точно, то указано примерное значение в формате xx.5.

In [ ]:
# pd.read_csv
# pd.read_excel
# pd.read_json
# pd.read_sql

In [ ]:
df = pd.read_csv("http://tiny.cc/pandas_data", sep=";")
print(type(df))

# EDA

Exploratory data analysis

### First look-up and data access

In [ ]:
# вывести голову таблицы
df.head()

In [ ]:
# вывести хвост таблицы
df.tail()

In [ ]:
# выбрать 5 случайных строк
df.sample(n=5)

In [ ]:
# выбрать 15% случайных строк
df.sample(frac=0.15)

In [ ]:
df

#### Dataframe columns

In [ ]:
df.columns

In [ ]:
df[['Name']]

In [ ]:
df[['Name', 'Survived']]

#### Dataframe indexes: ```loc``` vs ```iloc```


<p><img alt="loc_vs_iloc"  width="500" src="https://miro.medium.com/max/2000/1*CgAWzayEQY8PQuMpRkSGfQ.png" hspace="10px" vspace="0px"></p>

In [ ]:
df.index

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[[0, 2, 4]]

In [ ]:
df[['Sex', 'Age']].iloc[5:50:2]

In [ ]:
df.loc[[0, 1, 2]]

In [ ]:
details = {
    'Name' : ['Savva', 'Andrey', 'Dmitry', 'Anatoly'],
    'Age' : [22, 21, 24, 22],
    'Fav_food' : ['Pizza', 'Pie', 'Spaghetti', 'Beer'],
}
  
# creating a Dataframe object 
tmp_df = pd.DataFrame(details)
tmp_df.set_index(['Name'], inplace=True)

In [ ]:
tmp_df

In [ ]:
tmp_df.iloc[0]

In [ ]:
tmp_df.loc[0]

In [ ]:
tmp_df.loc['Savva']

### Dataframe info and simple stats

#### Metadata

In [ ]:
len(df)

In [ ]:
df.shape

In [ ]:
# типы данных
df.dtypes

In [ ]:
df.info()

In [ ]:
df['Pclass'] =  df['Pclass'].astype('str')

#### Simple statistics

In [ ]:
df.mean()

In [ ]:
df['Age'].mean()

In [ ]:
df['Survived'].sum()

In [ ]:
df['Fare'].min(), df['Fare'].max(), df['Fare'].std()

In [ ]:
df.describe()

In [ ]:
df["Sex"].unique()

In [ ]:
df.Embarked.nunique()

In [ ]:
df.Pclass.value_counts()

#### Empty values

In [ ]:
# df.isnull
df.isna().sum()

### Data filtering

In [ ]:
df['Sex'] == 'female'

In [ ]:
df[df['Sex'] == 'female']

In [ ]:
# or = | , and  = &
condition = (df['Sex'] == 'male') & (df['Age'] > 18)
df_adult_male = df[condition]

In [ ]:
df_adult_male.describe()

In [ ]:
df[df.Sex.isin({'male', 'female'})]

#### Dropping

In [ ]:
df.drop([0, 1 , 2, 3, 4])

In [ ]:
df.drop(['PassengerId', 'Name'], axis=1)

In [ ]:
df.drop_duplicates(subset=['Ticket'])

### Grouping and aggregations

In [ ]:
df[['Sex', 'Age', 'Survived']].groupby(['Sex']).mean()

In [ ]:
df.groupby(["Sex"]).agg({"PassengerId": "count", "Age": ["mean", "min", "max"], "Survived": "sum"})

#### And even pivots...

In [ ]:
df.pivot_table('PassengerId', 'Sex', 'Survived', 'count')

In [ ]:
df.pivot_table('PassengerId', 'Pclass', 'Survived', 'count')

In [ ]:
df.pivot_table('PassengerId', 'Sex', 'Survived', 'count').plot(kind='bar', stacked=True)

In [ ]:
df.pivot_table('PassengerId', 'Pclass', 'Survived', 'count').plot(kind='bar', stacked=True)

In [ ]:
df.plot(x="Age", y="Fare", kind="scatter", grid=True)

### Data processing

#### map

In [ ]:
df["DecodedSex"] = df["Sex"].map({"male": 1, "female": -1, "unknown": 0})
df.head(2)

In [ ]:
def fun(age):
    return age / 100

# try loops
new_feature = []
#...

#### apply

In [ ]:
df["NewAge"] = df["Age"].apply(fun)
df.head(2)

#### apply + lambda

In [ ]:
df["NewAge"] = df["Age"].apply(lambda age: age/100)

In [ ]:
df.head(2)

In [ ]:
df["Surname"] = df["Name"].apply(lambda name: name.split(";")[0]) # option1

In [ ]:
df["Surname"] = df["Name"].apply(lambda name: name[:name.find(";")]) # p[tion 2]

In [ ]:
df["Surname"].value_counts().head()

In [ ]:
df.values # df -> numpy.array

In [ ]:
df.groupby("Sex")["Age"].apply(lambda ages: np.mean(ages) / 120)

In [ ]:
df.groupby("Survived")["Age"].apply(np.mean)

In [ ]:
# .mean -> .count
# Сколько семей больше трех человек?
np.sum(df.groupby("Surname")["Name"].count() > 3)

In [ ]:
# Сколько семей, в которых минимальный возраст меньше 10 лет?
np.sum(df.groupby("Surname")["Age"].apply(min) < 10)

### Merging

In [ ]:
# таблица оценок
# !wget 'https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/seminars/grades.csv'
# таблица хэшей: ФИО студента <-> хэш
# !wget https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2022/seminars/hashes.csv

In [ ]:
# таблица с оценками
df_grades = pd.read_csv('grades.csv', index_col=0)
df_grades.head()

In [ ]:
df_hashes = pd.read_csv('hashes.csv', sep=';')
df_hashes.head()

#### Concat

In [ ]:
# склеить две таблицы по строкам
df1 = df_grades.iloc[:5]
df2 = df_grades.iloc[10:15]
pd.concat([df1, df2])

In [ ]:
# склеить две таблицы по столбцам
df1 = df_grades[['hash', '1']]
df2 = df_grades[['3', '4']]
pd.concat([df1, df2], axis=1).head()

#### Merge


<p><img alt="merging_rules"  width="500" src="https://miro.medium.com/max/1200/1*9eH1_7VbTZPZd9jBiGIyNA.png" hspace="10px" vspace="0px"></p>

In [ ]:
# присоединить подходящие строки из df_grades к df_hashes
df = pd.merge(df_hashes, df_grades, on='hash', how='left')
print(df.shape)
df.head(10)

In [ ]:
# присоединить подходящие строки из df_hashes к df_grades
df = pd.merge(df_hashes, df_grades, on='hash', how='right')
print(df.shape)
df.head(10)

In [ ]:
# пересечение таблиц
# в данном случае эквивалентно 'right', т.к. в df_grades нет таких хэшей, которые отсутствуют в df_hashes
df = pd.merge(df_hashes, df_grades, on='hash', how='inner')
print(df.shape)
df.head(10)

In [ ]:
# объединение таблиц
# в данном случае эквивалентно 'left', т.к. в df_grades нет таких хэшей, которые отсутствуют в df_hashes
df = pd.merge(df_hashes, df_grades, on='hash', how='outer')
print(df.shape)
df.head(10)

In [ ]:
# выбрать из таблицы хэшей только те строки, в которых хэш есть в таблице оценок
# т.е. отобрать тех студентов, которые писали контрольную и были оценены
df = df_hashes[df_hashes.hash.isin(df_grades.hash)]
print(df.shape)
df.head()